# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.spec
src/models_230316.zip
src/models/__init__.py
src/models/config.json
src/models/model.safetensors
src/models/special_tokens_map.json
src/models/tokenizer_config.json
src/models/vocab.txt
